#start-quiz-button {
    border: none;
    font-size: 200%;
    font-weight: 600;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, .35), inset 12px 12px 12px white;
    transition: box-shadow .1s ease-in-out;
    border-radius: 100px;
    color: black;
    background-color: antiquewhite;
}
#start-quiz-button:active {
    box-shadow: 1px 1px 1px white, inset 12px 12px 12px rgba(0, 0, 0, .35);
    transition: box-shadow .1s ease-in-out;
    transition: background-color .1s ease-in-out;
    border: none;
}
.start-quiz-button-spot {
    margin-top: 40px;
    height: 15%;
    width: 15%;
    min-width: 200px;
}

@keyframes button-enter-stage-bottom {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 12px 12px 20px -12px rgba(0, 0, 0, .35);
    }
}